.candle {
    position: absolute;
    top: -20px;
    right: 0;
    width: 128px;
    height: 116px;

    &.dark {
        .candle2_stick {
            /* 矮蜡烛火芯转动 */
            animation: stick-animation 1s linear;
        }

        .candle2 {
            /* 火苗重新生成的动画 */
            animation: shake-left .5s linear;
        }

        .candle2_eyes-left {
            /* 矮蜡烛火生成时眯左眼 */
            animation: changeto-lower .5s linear;
        }

        .candle2_eyes-right {
            /* 矮蜡烛火生成时眯右眼 */
            animation: changeto-greater .5s linear;
        }



        .candle2_fire {
            /* 矮蜡烛火焰动画 */
            animation: dance-fire 1.5s infinite linear;
        }
    }

    &.light {
        .candle2_fire {
            animation: dance-fire 1.2s infinite linear;
        }

        .candle1 {
            /* 高蜡烛身体抖动 */
            animation: expand-body 1s linear;
        }

        .candle1_eyes-left,
        .candle1_eyes-right {
            /* 高蜡烛左眼移动 */
            animation: blink-eyes 1s linear;
        }

        .candle1_mouth {
            /* 高蜡烛张嘴 */
            animation: uff 1s linear;
        }

        .candle_smoke2 {
            /* 矮蜡烛火被吹灭的扬尘动画 */
            animation: move-top 1s linear;
        }
    }

    .warpper {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
        cursor: pointer;

        .floor {
            position: absolute;
            left: 0;
            bottom: 10%;
            width: 100%;
            height: 9px;
            background: #673C63;
            transform: translate3d(0, 0, 0);
            box-shadow: 0px 2px 5px #111;
            z-index: 2;
        }

        .candles {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% - 10% - 9px);
            transform: translate3d(0, 0, 0);
            z-index: 1;

            .candle1 {
                position: absolute;
                left: 58%;
                top: 40%;
                width: 35px;
                height: 68%;
                background: #fff;
                border: 3px solid #673C63;
                border-bottom: 0px;
                border-radius: 3px;
                transform-origin: center right;
                // transform: translate(60%, -25%);
                box-shadow: -2px 0px 0px #95c6f2 inset;

                .candle1_eyes {
                    position: absolute;
                    left: 50%;
                    top: 0%;
                    width: 100%;
                    height: 30px;
                    transform: translate(-50%, 0%);

                    .candle1_eyes-left {
                        position: absolute;
                        left: 30%;
                        top: 20%;
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        background: #673C63;
                        transform: translate(-70%, 0%);
                    }

                    .candle1_eyes-right {
                        position: absolute;
                        left: 70%;
                        top: 20%;
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        background: #673C63;
                        transform: translate(-70%, 0%);
                    }
                }

                .candle1_mouth {
                    position: absolute;
                    left: 40%;
                    top: 28%;
                    width: 0;
                    height: 0;
                    border-radius: 20px;
                    background: #673C63;
                    transform: translate(-50%, -50%);
                    will-change: transform;
                }

                .candle1_stick {
                    position: absolute;
                    left: 50%;
                    top: 0%;
                    width: 3px;
                    height: 15px;
                    background: #673C63;
                    border-radius: 8px;
                    transform: translate(-50%, -100%);
                }
            }

            .candle2 {
                position: absolute;
                left: 18%;
                top: 65%;
                width: 42px;
                height: 40%;
                background: #fff;
                border: 3px solid #673C63;
                border-bottom: 0px;
                border-radius: 3px;
                transform: translate3d(0, 0, 0);
                transform-origin: center right;
                box-shadow: -2px 0px 0px #95c6f2 inset;

                .candle2_eyes {
                    position: absolute;
                    left: 50%;
                    top: 0%;
                    width: 35px;
                    height: 30px;
                    transform: translate(-50%, -20%);

                    .candle2_eyes-left {
                        position: absolute;
                        left: 30%;
                        top: 50%;
                        width: 5px;
                        height: 5px;
                        display: inline-block;
                        border: 0px solid #673C63;
                        border-radius: 100%;
                        background: #673C63;
                        transform: translate(-80%, 0%);
                    }

                    .candle2_eyes-right {
                        position: absolute;
                        left: 70%;
                        top: 50%;
                        width: 5px;
                        height: 5px;
                        display: inline-block;
                        border: 0px solid #673C63;
                        border-radius: 100%;
                        background: #673C63;
                        transform: translate(-80%, 0%);
                    }
                }

                .candle2_stick {
                    position: absolute;
                    left: 50%;
                    top: 0%;
                    width: 3px;
                    height: 12px;
                    background: #673C63;
                    border-radius: 8px;
                    transform: translate(-50%, -100%);
                    transform-origin: bottom center;
                }
            }

            .candle2_fire {
                position: absolute;
                top: 50%;
                // left: 40%;
                border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
                background: #ff9800;
                transform: translate(-50%, -50%);
            }

            .candle_smoke2 {
                position: absolute;
                left: 30%;
                top: 40%;
                border-radius: 10px;
                background: grey;
                transform: translate(-50%, -50%);
            }
        }

        .div-corner {
            position: absolute;
            bottom: -10px;
            right: 0;
            width: 100px;
            /* 宽度 */
            height: 30px;
            /* 高度 */
            //   background-color: #333; /* 背景颜色 */
            border-right: 5px solid #673C63;
            border-top: 5px solid #673C63;
            border-radius: 0 50px 0 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .candle {
        top: -1.25rem;
        width: 8rem;
        height: 7.25rem;
    
        .warpper {
            .floor {
                height: .5625rem;
                box-shadow: 0px .125rem .3125rem #111;
            }
    
            .candles {
                height: calc(100% - 10% - .5625rem);
    
                .candle1 {
                    width: 2.1875rem;
                    border: .1875rem solid #673C63;
                    border-radius: .1875rem;
                    box-shadow: -0.125rem 0 0 #95c6f2 inset;
    
                    .candle1_eyes {
                        height: 1.875rem;
    
                        .candle1_eyes-left {
                            width: .3125rem;
                            height: .3125rem;
                        }
    
                        .candle1_eyes-right {
                            width: .3125rem;
                            height: .3125rem;
                        }
                    }
    
                    .candle1_mouth {
                        border-radius: 1.25rem;
                    }
    
                    .candle1_stick {
                        width: 3px;
                        height: .9375rem;
                        border-radius: 8px;
                    }
                }
    
                .candle2 {
                    width: 2.625rem;
                    border: .1875rem solid #673C63;
                    border-radius: .1875rem;
                    box-shadow: -0.125rem 0px 0px #95c6f2 inset;
    
                    .candle2_eyes {
                        width: 2.1875rem;
                        height: 1.875rem;
    
                        .candle2_eyes-left {
                            width: .3125rem;
                            height: .3125rem;
                        }
    
                        .candle2_eyes-right {
                            width: .3125rem;
                            height: .3125rem;
                        }
                    }
    
                    .candle2_stick {
                        width: .1875rem;
                        height: .75rem;
                        border-radius: .5rem;
                    }
                }
    
                .candle_smoke2 {
                    border-radius: .625rem;
                }
            }
    
            .div-corner {
                bottom: -0.625rem;
                width: 6.25rem;
                /* 宽度 */
                height: 1.875rem;
                /* 高度 */
                border-right: .3125rem solid #673C63;
                border-top: .3125rem solid #673C63;
                border-radius: 0 3.125rem 0 0;
            }
        }
    }
}


@keyframes blink-eyes {

    0%,
    35% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }

    36%,
    39% {
        opacity: 0;
        transform: translate(-70%, 0%);
    }

    40% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }

    50%,
    65% {
        transform: translate(-140%, 0%);
    }

    66% {
        transform: translate(-70%, 0%);
    }
}

@keyframes expand-body {

    0%,
    40% {
        top: 40%;
        transform: scale(1, 1);
    }

    45%,
    55% {
        top: 36%;
        transform: scale(1.1, 1.1);
    }

    60% {
        top: 36%;
        transform: scale(0.89, 0.89);
    }

    65% {
        top: 36%;
        transform: scale(1, 1);
    }

    70% {
        top: 39%;
        transform: scale(0.95, 0.95);
    }

    75% {
        top: 40%;
        transform: scale(1, 1);
    }
}

@keyframes uff {

    0%,
    40% {
        width: 0px;
        height: 0px;
    }

    50%,
    54% {
        width: 15px;
        height: 15px;
        left: 30%;
    }

    59% {
        width: 5px;
        height: 5px;
        left: 20%;
    }

    62% {
        width: 2px;
        height: 2px;
        left: 20%;
    }

    67% {
        width: 0px;
        height: 0px;
        left: 30%;
    }
}

@keyframes change-background {

    0%,
    59%,
    98%,
    100% {
        background: #fff;
    }

    61%,
    97% {
        background: #000;
    }
}

@keyframes change-background-light {

    0%,
    59% {
        background: #000;
    }

    61%,
    100% {
        background: #fff;
    }
}

@keyframes change-background-dark {

    0%,
    59% {
        background: #fff;
    }

    61%,
    100% {
        background: #000;
    }
}

@keyframes move-top {

    0%,
    64%,
    100% {
        width: 0px;
        height: 0px;
        top: 0%;
    }

    65% {
        width: 10px;
        height: 10px;
        top: 40%;
        left: 40%;
    }

    80% {
        width: 0px;
        height: 0px;
        top: 20%;
    }
}

@keyframes shake-left {

    59%,
    75% {
        transform: scale(1.15, 0.85) translate(5%, 0%);
        background: #fff;
        border-color: #673C63;
    }

    91% {
        transform: scale(1.18, 0.82) translate(5%, 0%);
        background: #f44336;
        border-color: #f44336;
        box-shadow: -2px 0px 0px #f44336 inset;
    }
}

@keyframes stick-animation {

    0%,
    40% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    50%,
    54% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    59% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    62% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-15deg) translate(-50%, -100%);
    }

    65% {
        left: 50%;
        top: 0%;
        transform: rotateZ(15deg) translate(-50%, -100%);
    }

    70% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-5deg) translate(-50%, -100%);
    }

    72% {
        left: 50%;
        top: 0%;
        transform: rotateZ(5deg) translate(-50%, -100%);
    }

    74%,
    84% {
        left: 50%;
        top: 0%;
        transform: rotateZ(0deg) translate(-50%, -100%);
    }

    92% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
}

@keyframes dance-fire {

    0%,
    7%,
    15%,
    23%,
    31%,
    39%,
    47%,
    55%,
    64%,
    72%,
    80%,
    89%,
    97% {
        left: 36.6%;
        background: #FFC107;
    }

    3%,
    11%,
    19%,
    27%,
    35%,
    43%,
    51%,
    59%,
    68%,
    77%,
    85%,
    94%,
    100% {
        left: 37.4%;
        background: #FF9800;
    }
}

@keyframes changeto-lower {

    0%,
    70%,
    90% {
        padding: 0px;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0px solid #673C63;
        transform: translate(-90%, 0%);
    }

    71%,
    89% {
        background: none;
        border: solid #673C63;
        border-radius: 0px;
        border-width: 0 2px 2px 0;
        padding: 1px;
        transform-origin: bottom left;
        -webkit-transform: rotate(-45deg) translate(-50%, -65%);
        transform: rotate(-45deg) translate(-50%, -65%);
    }
}

@keyframes changeto-greater {

    0%,
    70%,
    90% {
        top: 50%;
        padding: 0px;
        // display: inline-block;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0px solid #673C63;
        transform: translate(-80%, 0%);
    }

    71%,
    89% {
        top: 30%;
        background: none;
        border: solid #673C63;
        border-radius: 0px;
        border-width: 0 2px 2px 0;
        padding: 1px;
        transform-origin: bottom left;
        -webkit-transform: rotate(135deg) translate(-80%, 20%);
        transform: rotate(135deg) translate(-80%, 20%);
    }
}