@import url('./reset.less');
@import url('./dialog-cover.less');

/* CSS初始化样式文件 */
:root {
  animation: adjust 3s linear;
  animation-timeline: scroll();
  --primary-bg: #303F9F;
  --primary-border: #BBDEFB;
  --primary-info: #1a2a3a;
  --normal-word: #ffffff;
  --home-word-normal: #3F51B533;
  --home-word-hover: #3F51B580;
  --home-bg-hover: #33333333;
  --body-bg: #f1f1f1;
  --catalogue-bg: #ffffff;
  --catalogue-word: #3F51B5;
  --catalogue-title: #304bc0;
  --catalogue-info: #0e2981;
  --detail-border: #ddd;
  --detail-animate: #303F9F;
  --primary-font: #000;
  --drop-bg: #e1e1e1;
  --drop-shadow: #ccc;
}

:root.dark {
  --primary-bg: #919191;
  --primary-border: #BDBDBD;
  --primary-info: #F5F5F5;
  --normal-word: #cccccc;
  --home-word-normal: #cccccc33;
  --home-word-hover: #cccccc80;
  --home-bg-hover: #99999933;
  --body-bg: #313131;
  --catalogue-bg: #424242;
  --catalogue-word: #9f9f9f;
  --catalogue-title: #4e769b;
  --catalogue-info: #878ea0;
  --detail-border: #555;
  --detail-animate: #BBDEFB;
  --primary-font: #aaa;
  --drop-bg: #444;
  --drop-shadow: #666;
}

.iframe-box {
  width: 100%;
  border-radius: 10px;

  .list-style-circle {
    li {
      margin-left: 20px;
      list-style: circle;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .iframe-box {
    border-radius: .625rem;

    .list-style-circle li {
      margin-left: 1.25rem;
      margin-bottom: .625rem;
    }
  }

  .iconfont {
    font-size: 1rem !important;
  }
}