@import url('./reset.less');

/* CSS初始化样式文件 */
:root {
  --primary-bg: #1976D2;
  --primary-border: #607D8B;
  --primary-info: #757575;
  --warning-font: #f08a5d;
  --normal-word: #ffffff;
  --body-bg: #ffffff;
}

:root.dark {
  --primary-bg: #616161;
  --primary-border: #a5dee5;
  --primary-info: #F5F5F5;
  --normal-word: #cccccc;
  --body-bg: #212121;
}

.transition-bg {
  transition: background-color .5s cubic-bezier(0.89, 0.04, 0.96, 0.06), color .5s cubic-bezier(0.89, 0.04, 0.96, 0.06);
}

.ifrname-box {
  width: 100%;
  background-color: var(--body-bg);
  padding: 1.25rem 1.875rem;
  border-radius: .625rem;

  p, div {
    color: var(--primary-info);
  }
}