@font-face {
  font-family: "iconfont"; /* Project id 4535746 */
  src: url('iconfont.woff2?t=1733219969452') format('woff2'),
       url('iconfont.woff?t=1733219969452') format('woff'),
       url('iconfont.ttf?t=1733219969452') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yejing:before {
  content: "\e60b";
}

.icon-lieri:before {
  content: "\e60c";
}

.icon-demo:before {
  content: "\e609";
}

.icon-online_project:before {
  content: "\e663";
}

.icon-gengduo:before {
  content: "\e635";
}

.icon-cancel-full-screen:before {
  content: "\e758";
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\e658";
}

.icon-quanping1:before {
  content: "\e7cf";
}

.icon-suoxiao:before {
  content: "\e608";
}

.icon-fangda:before {
  content: "\e607";
}

.icon-a-guangqi_guolv11x:before {
  content: "\e61a";
}

.icon-tuli1:before {
  content: "\e68f";
}

.icon-youjiantou:before {
  content: "\e606";
}

.icon-biaotibiankuangtu:before {
  content: "\e904";
}

.icon-css:before {
  content: "\e63c";
}

.icon-tuli:before {
  content: "\e643";
}

.icon-xiaoguo:before {
  content: "\e778";
}

.icon-echart:before {
  content: "\e605";
}

.icon-fanhuidingbu3:before {
  content: "\e64a";
}

.icon-guanbi:before {
  content: "\e62a";
}

.icon-zhankai:before {
  content: "\e611";
}

.icon-suiji:before {
  content: "\e71f";
}

.icon-github:before {
  content: "\e604";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-fujianguanli:before {
  content: "\e69d";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-js:before {
  content: "\e65d";
}

.icon-xuexi:before {
  content: "\e63b";
}

.icon-shouye:before {
  content: "\e625";
}

.icon-guanzhu:before {
  content: "\e601";
}

.icon-gitee:before {
  content: "\e602";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-liebiao1:before {
  content: "\e60a";
}

.icon-zuojiantou:before {
  content: "\e600";
}

