@font-face {
  font-family: "iconfont"; /* Project id 4535746 */
  src: url('iconfont.woff2?t=1719128383069') format('woff2'),
       url('iconfont.woff?t=1719128383069') format('woff'),
       url('iconfont.ttf?t=1719128383069') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuidingbu3:before {
  content: "\e64a";
}

.icon-guanbi:before {
  content: "\e62a";
}

.icon-zhankai:before {
  content: "\e611";
}

.icon-suiji:before {
  content: "\e71f";
}

.icon-github:before {
  content: "\e604";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-fujianguanli:before {
  content: "\e69d";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-js:before {
  content: "\e65d";
}

.icon-xuexi:before {
  content: "\e63b";
}

.icon-css:before {
  content: "\ec3a";
}

.icon-shouye:before {
  content: "\e625";
}

.icon-guanzhu:before {
  content: "\e601";
}

.icon-gitee:before {
  content: "\e602";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-liebiao1:before {
  content: "\e60a";
}

.icon-zuojiantou:before {
  content: "\e600";
}

